@font-face {
    font-family: 'iconfont';  /* Project id 2736259 */
    src: url('//at.alicdn.com/t/font_2736259_cfm39j8qkpm.woff2?t=1632779175188') format('woff2'),
    url('//at.alicdn.com/t/font_2736259_cfm39j8qkpm.woff?t=1632779175188') format('woff'),
    url('//at.alicdn.com/t/font_2736259_cfm39j8qkpm.ttf?t=1632779175188') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
