@font-face {
    font-family: 'iconfont';  /* Project id 2736259 */
    src: url('//at.alicdn.com/t/font_2736259_5u4zzu39vs3.woff2?t=1631226331248') format('woff2'),
    url('//at.alicdn.com/t/font_2736259_5u4zzu39vs3.woff?t=1631226331248') format('woff'),
    url('//at.alicdn.com/t/font_2736259_5u4zzu39vs3.ttf?t=1631226331248') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
